@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

html, body { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
@media screen and (max-width: 480px) { html, body { min-width: 320px; } }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body { height: 110%; background-color: #ffffff; background-image: url("img/bg.jpg"); background-repeat: no-repeat; background-size: cover; background-position:center center; background-attachment: fixed; }
body {color: #414f57; font-family: "Source Sans Pro", Helvetica, sans-serif; font-size: 14pt; font-weight: 700; line-height: 2; letter-spacing: 0.1em; }
@media screen and (max-width: 1680px) { body { font-size: 11pt; } }
#main{ transform-origin: 50% 50%; transform: rotateX(0deg); transition: opacity 1s ease, transform 1s ease; padding: 4.5em 3em 3em 3em ; background: black; background-image: url("img/card.jpg"); background-repeat: no-repeat; background-size: 500px 800px, cover; background-position: center center; border-radius: 4px; max-width: 100%; opacity: 0.95; position: relative; text-align: center; width: 30em; max-height: 100%; height: 53em; }
@media screen and (max-width: 480px) { #main { padding: 4em 2em 2.5em 2em ; width: 30em; background-size: 400px 700px, cover; max-height: 100%; height: 42em;} }
#wrapper { display: flex; align-items: center; justify-content: space-between; flex-direction: column; perspective: 1000px; position: relative; min-height: 100%; padding: 1.5em; z-index: 2; }
#wrapper > * { z-index: 1; }
#wrapper:before { content: ''; display: block; }
@media screen and (max-width: 360px) { #wrapper { padding: 0.75em; } }
#main a {text-decoration: none; color: #414f57;}
#main .one{ text-align: left; padding-left: 45px; padding-top: 375px;}
@media screen and (max-width: 360px) { #main .one{ text-align: left; padding-left: 35px; padding-top: 292px; }}
#main .two{ text-align: left; padding-left: 45px; padding-top: 5px;}
@media screen and (max-width: 360px) { #main .two{ text-align: left; padding-left: 35px; padding-top: 0px; }}
#main .three{ text-align: left; padding-left: 45px; padding-top: 5px;}
@media screen and (max-width: 360px) { #main .three{ text-align: left; padding-left: 35px; padding-top: 0px; }}
#main .four{ text-align: left; padding-left: 45px; padding-top: 10px;}
@media screen and (max-width: 360px) { #main .four{ text-align: left; padding-left: 35px; padding-top: 3px; }}

#main .socialicon {float: left;padding-top: 20px;}
a { cursor: pointer; padding: 10px; width: 35px; text-align: center; text-decoration: none; border-radius: 50%; }
@media screen and (max-width: 360px) { a { cursor: pointer; padding: 5px; width: 25px; text-align: center; text-decoration: none; border-radius: 50%; } }
.fa-facebook { background: #3B5998; color: white !important; }
.fa-whatsapp { background: #25D366; color: white !important; }
.fa-instagram { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); color: white !important; }
.fa-twitter { background: #1DA1F2; color: white!important; }


#footer { align-self: flex-end; width: 100%; padding: 15px 0 0 0; color: rgba(255, 255, 255, 0.75); text-align: center; }
#footer .copyright { margin: 0; padding: 0; font-size: 14px; list-style: none; }
#footer .copyright li { display: inline-block; margin: 0 0 0 0.45em; padding: 0 0 0 0.85em; letter-spacing: 2px; font-weight: 200px; border-left: solid 1px rgba(255, 255, 255, 0.5); line-height: 1; }
#footer li a{ text-decoration: none; color: rgba(255, 255, 255, 0.75);}
#footer .copyright li:first-child { border-left: 0; }
